:root {
  --background-color: beige;
  --flashcard-bg-color: white;
  --text-color: black;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.webname {
  background-color: #4a93e7;
  font-family: "Segoe UI";
  width: 100;
  margin-top: 0;
  padding: 10px;
  color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  font-size: 5vw;
  text-align: center;
}

.flashcard {
  margin: 0 auto;
  background-color: var(--flashcard-bg-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 30px;
  width: 43%;
  height: 80%;
}

.answer {
  width: 50%; /* Adjust as needed */
  margin: 0 auto; /* Centers it horizontally */
  display: flex;
}

.prevNext {
  width: 50%; /* Adjust as needed */
  margin: 0 auto; /* Centers it horizontally */
  display: flex;
}

.prevNext #prev-card {
  flex: 1;
}

.prevNext #next-card {
  flex: 1;
}

.answer #toggle-answer {
  flex:1;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 3vw;
  cursor: pointer;
}

.download {
  width: 25%;
  margin: 10px auto;
  display: flex;
}

a {
  flex: 1;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 3vw;
  cursor: pointer;
}

a:hover {
  background-color: #45a049;
}
