<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Factory</title>
    <link rel="stylesheet" href="../static/flashcards.css">
</head>
<body>
    <h1 class="webname">Flashcard Factory</h1>

        <div class="flashcard">
            <div id="question"></div>
            <div id="answer"></div>
        </div>

        <div class="answer">
            <button id="toggle-answer">Show Answer</button>
        </div>

        <div class="prevNext">
            <button id="prev-card">Previous</button>
            <button id="next-card">Next</button>
        </div>

        <div class="download">
            <a href="/public/sample.txt" class="downloadButton" download>Download</a>
        </div>
    <script src="../static/flashcards.js"></script>
</body>
</html>
