<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flashcard Maker</title>
    <link rel="stylesheet" href="../static/form.css">
  </head>
  <body>
    <h1 class="webname">Flashcard Maker</h1>

    <form id="form" action="/build" method="post" enctype="multipart/form-data">
      <div class="file-upload-container" id="fileUploadContainer">
        <input type="file" id="fileInput" multiple>
        <p>Drag and drop your files here or</p>
        <button class="custom-btn" onclick="document.getElementById('fileInput').click();">Choose Files</button>
      </div>
  
      <h3>Selected Files:</h3>
      <ul id="fileList"></ul>
      <div>
        <input type="text" name="course_name" class="field" id="course_name" placeholder="Enter a Class Name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter a Class Name'" required>
        <input type="text" name="subject" class="field" id="subject" placeholder="Enter a Subject" onfocus="this.placeholder=''" onblur="this.placeholder='Enter a Subject'" required>
      </div>
      <br><br>
      <div>
        <input type="text" name="rules" class="field" id="rules" placeholder="Enter Rules" onfocus="this.placeholder=''" onblur="this.placeholder='Enter Rules'" required>
        <input type="number" name="num_flash_cards" class="field" id="num_flash_cards" placeholder="Enter # of Flashcards" min="1" onfocus="this.placeholder=''" onblur="this.placeholder='Enter # of Flashcards'">
      </div>
      <br><br>

      <div>
      <select id="difficulty" name="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <select id="school_level" name="school_level">
        <option value="elementary">Elementary School</option>
        <option value="middle">Middle School</option>
        <option value="high">High School</option>
        <option value="university">University</option>
        <option value="grad">Grad School</option>
      </select>
      </div>
    
    <br><br>

    <input type="submit" value="Submit">
    </form>

    <br><br>

    <script src="../static/formRules.js"></script>
  </body>
</html>