<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flashcard Maker</title>
    <link rel="stylesheet" href="../static/form.css">
  </head>
  <body>
    <h1 class="webname">Flashcard Maker</h1>

    <form action="upload.php" method="post" enctype="multipart/form-data">
      <input type="text" id="class name" placeholder="Enter a Class Name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter a Class Name'">
      <br><br>
      <input type="text" id="subject" placeholder="Enter a Subject" onfocus="this.placeholder=''" onblur="this.placeholder='Enter a Subject'">
      <br><br>
      <input type="text" id="difficulty" placeholder="Enter Rules" onfocus="this.placeholder=''" onblur="this.placeholder='Enter Rules'">
      <br><br>
      <input type="text" id="num flashcards" placeholder="Enter # of Flashcards" onfocus="this.placeholder=''" onblur="this.placeholder='Enter # of Flashcards'">

      <br><br>

      <label for="difficulty">Choose a Difficulty Level:</label>
      <select id="difficulty" name="options">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <br><br>

      <label for="education">Choose an Education Level:</label>
      <select id="education" name="options">
        <option value="elementary">Elementary School</option>
        <option value="middle">Middle School</option>
        <option value="high">High School</option>
        <option value="university">University</option>
        <option value="grad">Grad School</option>
      </select>

      <br><br>
    
      <label for="file">Choose a file:</label>
      <input type="file" id="file" name="file">
      <br><br>
      <input type="submit" value="Upload">
    </form>

    <br><br>

    <script src="index.js"></script>
  </body>
</html>